section{
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    margin: 10px;
}
button{
    padding: 14px 25px;
    font-size: 18px;
}
img{
    width: 500px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}